@import 'Variables.scss';


.about-container {
    margin-bottom: $outside-margin;
    min-height: 100vh;
    box-sizing: border-box;
}

.about-section-title {
    font-family: $font-secondary;
    font-size: 5rem;
    padding: 0;
    margin: 0;
}

.about-section-detail {
    display: flex;
    flex: 1;
}

@media (max-width: 500px) {
    .about-section-detail {
      display: block;
    }
  }

.about-skills {
    // flex-grow: 1;

    width: 40%;
    margin-left: 4rem;
    // display: inline-block;

    // display: flex;
    // justify-content: center;
    // padding-left: 2rem;

    &-title {
        // font-family: $font-secondary;
        font-size: 3rem;
        padding: 0;
        margin: 0;
        margin-bottom: 1.5rem;
        display: inline-block;
       
    }

    &-list {
        list-style-type: none;
        padding-left: 0;  
        margin-top: 0;
        // margin-left: 5rem;
        
    }

    &-set {
        padding: 1rem;
        width: 100%;
        margin-bottom: 1rem;
        // box-shadow: 1px 1px 5px rgba(94, 94, 55, 0.411);
        // border: 2px solid #d0df4a;
        // background-color: $med-green2;
        position: relative;
    }
}

.about-skill {
    font-weight: 700;
    // color: #fccdce; 
    color: white;
    // text-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
    display: inline-block;
    padding: .2rem 0;
    
}

.about-story {
    // flex-grow: 2;
    display: inline-block;
    text-align: left;

    padding-right: 2.5rem;
    // color: rgb(0, 255, 213); 
    color: white;
    font-weight: bold;
    
    // font-weight: bold;
    font-size: 2.2rem;

    width: 60%;

}


.about-section {
    margin: 0 $inside-margin;
    padding: 10rem 0;
    
    color: #fc8789; 
    // background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid white;
    padding: 3rem;
}

@media (max-width: 500px) {

    .about-section {
        margin: 0 5rem;
        padding: 5rem 0;
        border: none;
        
    }

    .about-story, .about-skills {
        width: 100%;
        font-size: 2rem;
    }
    .about-skills {
        margin-left: 2rem;
    }
    .about-skills-title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
       
    }

    .about-skills-list {
        font-size: 1.75rem;
        margin-bottom: 1rem;
       
    }


  }

.line-horiz-about {
    max-width: 10rem;
    display: block;
    margin-left: 0;
    background-color: $light-green;
    border: none;
    height: 3px;
    border-radius: 1rem;
}

.fa-cogs, .fa-code {
    margin-right: 1rem;
    background-color: #fc8789; 
    // background-color: #fcb693;
    color: white;
    // text-shadow: 1px 1px 1px #c1d045;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    
    padding: .75rem;
    border-radius: 100rem;
    font-size: 2rem;
    text-align: center;

    position: absolute;
    left: -4rem;
}

.divider-about {
    color: rgb(0, 255, 213); 
}