@import 'About.scss';
@import 'Header.scss';
@import 'Project.scss';
@import 'Projects.scss';
@import 'Variables.scss';


.App {
  // margin: $outside-margin;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  font-family: $font-primary;
  // font-weight: 700;
  font-size: 2rem;
  transition: all 1.5s ease;
  -webkit-transition:  all 1.5s ease;
  -ms-transition: all 1.5s ease;
    
  // background: #f87162;
    background: #ff5e62; 
    // background: -webkit-linear-gradient(#ff5e62, #ff9966), 
    //             url(geo-pattern.png); 
    // background: linear-gradient(#ff5e62, #ff9966),
    //             url(geo-pattern.png);  
    
    position: relative;
    // z-index: -11;

    // &-gradient {
    //   background: -webkit-linear-gradient(#14141400, #fefefe); 
    //   background: -linear-gradient(#14141400, #fafafa); 
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   bottom: 0;
    //   right: 0;
    //   z-index: -10;
    // }
}

// .bk-pink-gradient {
//   opacity: 1;
//   background: #ff9966;  
//   background: -webkit-linear-gradient(to right, #ff5e62, #ff9966), 
//               url(geo-pattern.png); 
//   background: linear-gradient(to right, #ff5e62, #ff9966),
//               url(geo-pattern.png);  
// }

.bk-green-gradient {
  background: #c1d045;
// background: #CF6E9C; 
// background: -webkit-linear-gradient(#3c1053, #ad5389); 
// background: linear-gradient(#3c1053, #ad5389); 

background-size: cover;
position: relative;

}

.bk-purple-gradient {
  background: #3b1d8f;
// background: #CF6E9C; 
// background: -webkit-linear-gradient(#3c1053, #ad5389); 
// background: linear-gradient(#3c1053, #ad5389); 

background-size: cover;
position: relative;

}

.bk-blue-gradient {
  
  background: #4CB3D9; 
  // background: #5B86E5;  
  // background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  
  // background: linear-gradient(to right, #5B86E5, #36D1DC); 

  background-size: cover;
  position: relative;

}

.bk-teal-gradient {
  
  
  background: #136a8a; 
  // background: -webkit-linear-gradient(to right, #267871, #136a8a);  
  // background: linear-gradient(to right, #267871, #136a8a); 
  
  background-size: cover;
  position: relative;

}

.bk-green2-gradient {
  // background: $med-green;  
  // background: -webkit-linear-gradient(to right, #aab63c, $med-green);  
  // background: linear-gradient(to right, #aab63c, $med-green); 

  background: #79C9B0;
  // background: #11998e;  
  // background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  
  // background: linear-gradient(to right, #38ef7d, #11998e); 

  background-size: cover;
  position: relative;


}


// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
// align-items: center;
// justify-content: center;
// font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
