@import 'Navigation.scss';
@import 'Variables.scss';


.header-container {
    
    background: white;  
    background: linear-gradient(to right, #fc6b63, #ffa382);
    background: linear-gradient(to right, #fc6b63, #ffa382),
    url('worn_dots.png');
    
    background-blend-mode: overlay;

    // background: url('deco2.png');

    // width: 100%;
    // margin-bottom: $outside-margin;
    min-height: 100vh;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
}

// .name {
//     color: #d6514a;
// }

.header-description {
    
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    
    padding: 5rem 0;
    position: relative;
    text-align: justify;
    
    &-container {
        margin: $inside-margin;

        border: 5px solid black;
        background: white;
        height: 100%;
        
    }

    &-links {
        width: 80rem;
        margin: 10rem auto;
    }
}

.header-hello {
    color: black;
    background: white;
    position: absolute;
    top: -5.5rem;
    left: 25rem;
    font-size: 9rem;
    margin: 0;
    padding: 0 2rem;
    
}

.header-divider {
    color: $med-pink;
    font-size: 5rem;
    padding: 0 1.5rem;
    
}

.header-intro {
    font-family: $font-secondary;
    font-size: 10rem;
    padding: 0;
    margin: 0;
    font-weight: 700;
    
    text-transform: uppercase;
    color: $med-pink;
    background: linear-gradient(to bottom, #fc6b63, #E23949);
    background: -webkit-linear-gradient(to bottom, #fc6b63, #E23949);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &-tagline {
        color: $med-pink;
        font-size: 4rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
        line-height: 1.3;
    }
}

.fa-envelope, .fa-github, .fa-linkedin-in {
    font-size: 1.5rem;
    padding: .5rem;
    margin: .75rem;
    background-color: black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100rem;
    // color: #ffefee;
    
}

.contact-links {
    position: absolute;
    // top: 40vh;
    left: .5rem;
    top: .5rem;
    text-align: center;

    a {
        color: white;
        display: block;
    }
}


@media (max-width: 500px) {

    .contact-links {
        right: .5rem;
        top: .5rem;
        a {
            display: inline-block;
        }
    }

    .header-description-container {
        padding: 0;

        .header-intro {
            font-size: 3rem;
    
            &-tagline {
                font-size: 2rem;
            }
        }
    
    }

    .header-description {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 3rem 0;

        &-container {
            margin: 10rem 2rem;
            text-align: center;
            border: 3px solid black;
        }
        &-links {
            width: 90%;
            margin-top: 7rem;
            margin-bottom: 5rem;
            // margin-bottom: 5rem;
            
        }
    }

    .header-container {
        min-height: 50vh;
    }

    .header-hello{
        font-size: 4rem;
        top: -2.5rem;
        left: 5rem;
    }
    

    .nav-section {
        &-links {
            margin-right: 0;
            box-sizing: border-box;
            padding: 0;

            .nav-section a {
                font-size: 80%;
            }
            .header-divider, .nav-section {
                font-size: 1.5rem;
                padding: .3rem;
            }
        }
    }

}