
.nav-container {
    display: flex;
    justify-content: space-between;
    
}

.nav-logo-container {
    display: inline-block;
    padding: 1rem;
}

.logo {
    border: 2px solid #ff9966;
    display: inline-block;
    padding: .5rem;
    font-weight: 700;
}

.nav-section-links {
    text-transform: uppercase;
    display: inline-block;
    padding: .5rem;
    margin-right: 2rem;

}

.nav-section {
    padding: 1rem 1.5rem 1rem 0rem;
    display: inline-block;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 700;
    
    a {
        color: $light-pink;
        text-decoration: none;
        // padding: .5rem 1rem;


        &:hover {
            border-bottom: 2px solid #ff9966;

        }
    }
    
}