

.projects-container {
    background: #36D1DC;  
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
    // url(abstract3.jpg);
    
     

    // background: #36D1DC;  
    // background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC),
    // url(water.jpg);   
    // background: linear-gradient(to right, #5B86E5, #36D1DC),
    // url(water.jpg);  

    min-height: 100vh;
    background-size: cover;
    background-blend-mode: overlay;
}

.projects-section {
    margin: 0 $inside-margin;
    padding: 10rem 0;

    &-title {
        font-family: $font-secondary;
        font-size: 9rem;
        padding: 0;
        margin: 0;
        font-weight: 400;
        // text-transform: uppercase;
        color: rgb(63, 99, 177);
    }
}


.line-horiz-projects {
    max-width: 10rem;
    display: block;
    margin-left: 0;
    background-color: rgb(60, 206, 255);
    border: none;
    height: 3px;
    border-radius: 1rem;
}

a.github-link {
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #fec9ae;
}

@media (max-width: 500px) {
    .projects-section {
        margin: 0;
        padding: 2.5rem;

        &-title {
            font-size: 5rem;
        }
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .bg-project, .dragon-project, .prod-project {
            padding: 0rem;
        }
    }

    .project-section-left, .project-section-right {
        width: 100%;
    }
    // .project-section-right {
    //     margin-bottom: 10rem;
    // }      
}