.project-container {
    display: flex;
    flex: 1 1 auto;
    margin: 10rem 0;
    // height: 100vh;
    
}

.project-image {
    width: 100%;
    box-shadow: 1px 1px 10px rgba(23, 64, 100, 0.393);
    // border: 2px solid white;
    margin: 1rem 0rem;
    z-index: 3;
    // display: inline-block;
}


// .project-title {
//     font-weight: 400;
// }

h2, h3 {
    padding: 0;
    margin: 0;
}

.project-section-left, .project-section-right {
    display: inline-block;
    width: 50%;
     
}

.project-section-left {
    position: relative;
}


.project-section-right {
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-demo-btn {
    padding: 1rem;
    background: none;
    text-transform: uppercase;
    width: 16rem;
    font-size: 1.5rem;
    font-family: $font-primary;
    margin-right: 1rem;
    
}

.accent-blue {
    border: 2px solid #91e4fb;

    a {
        text-decoration: none;
        color: white;
        font-weight: 700;
    }  

    &:hover {
        background: #91e4fb;
        a {
            color: rgb(72, 174, 218);
        }
    }
}   

.tech-skill {
    font-weight: bold;
}

.divider {
    padding: 0rem 1rem;
    display: inline-block;
}

.project-link-btns {
    margin-top: 2rem;
}