

.project-container {
    display: flex;
    // flex: 1 1 auto;
    margin: 10rem 0;
    
    // height: 100vh;
    position: relative;
    // background-color: rgba(0, 0, 0, 0.057);
    padding: 5rem;
    border: .5rem solid black;
    background-color: white;
}

.project-description {
    line-height: 1.4;
}

// @media (min-width: 501px) {
//     .project-container {
//         height: 100vh;
//     }
// }



.project-image {
    width: 90%;
    border: 10px solid rgba(255, 255, 255, 0.167);
    margin: 1rem 0rem;
    z-index: 3;
    position:relative; 
    filter: opacity(.9) grayscale(70%);
    // filter: invert(0.2) grayscale(80%) hue-rotate(330deg) brightness(1.2);
    // -webkit-filter: invert(0.2) hue-rotate(330deg) brightness(1.2) grayscale(80%);
    // display: inline-block
    transition: 1s all ease;

    &:hover {
        filter: none; 
    }
}

.project-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}

.bg-project, .dragon-project, .prod-project {
    color: $dark-grey;
    h2, h3 {
        color: $med-pink;
    }

    button {
        border: 2px solid $med-pink; 
        a {
            text-decoration: none;
            color: $med-pink;
            font-weight: 700;
            
        }  
        &:hover {
            background: $med-pink;  
            
            a {
                color: white;
            }
            // background: linear-gradient(to right, #fc6b63, #ffa382);
            // background: linear-gradient(to right, #fc6b63, #ffa382);
        }
    }

    .divider {
        color: #fec9ae;  
    }

    .project-role b, .project-context b{
        font-family: $font-secondary;
        font-weight: 400;
        text-transform: uppercase;
        margin-right: .5rem;
    }

}

.bg-project, .prod-project {
    margin-left: 15rem;

    .project-number-outline {
        // position: absolute;
            left: -10rem;
    }
}

.dragon-project {
    margin-right: 15rem;
    .project-section-left{
        order: 2;
    } 

    .project-section-right {
        order: 1;

        padding-right: 5rem;
        padding-left: 0rem;
    }

    .project-number {
        &-outline{
        right: -10rem;
        }
    }

}

h2, h3 {
    padding: 0;
    margin: 0;
}

h2 {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 4.5rem;
}

.project-section-left, .project-section-right {
    display: inline-block;
    // width: 50%;   
     
}

.project-section-left {
    position: relative;
    width: 50%;
}


.project-section-right {
    // padding: 0rem 5rem;
    padding-left: 5rem;
    padding-right: 0rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.project-demo-btn {
    padding: 1rem;
    background: none;
    text-transform: uppercase;
    width: 16rem;
    font-size: 1.5rem;
    font-family: $font-primary;
    margin-right: 1rem;
    transition: .35s all ease;
}

.project-number {
    transform: rotate(-45deg);
    font-size: 7rem;
    
    font-family: $font-secondary;
    position: absolute;
    top:-5rem;
    left: 2rem;

    &-outline {
        height: 13rem;
        width: 13rem;
        z-index: 5;
        border: 5px solid black;
        background-color: white;
        position: absolute;
        top: 10rem;
        transform: rotate(45deg);
        // text-align: center;

    }

    &-total {
        font-size: 3rem;
        display: block;
    }
    

}


.tech-skill {
    font-weight: bold;
}

.divider {
    padding: 0rem 1rem;
    display: inline-block;
}

.project-link-btns {
    margin-top: 2rem;
    
}

@media (max-width: 500px) {
    h2 {
        font-size: 3rem;
    }
    
    .project-container {
      display: block;  
      font-size: 80%;  
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0);

      .project-section-right {
        padding-left: 0rem;
        display: block;
        width: 100%;
        
        // flex-direction: column;
        // justify-content: center;
        }

        .project-section-left {
        display: block;
        width: 100%;
        order: 2;
        }

        .project-images {
            display: block;
            flex-direction: row;
            justify-content: center;
            height: 50%;
            position: relative;
            margin-bottom: 2rem;
            

        }

        .project-demo-btn {
            width: 45%;
            font-size: 1.5rem;
            margin-right: 1rem;
        }

        .project-image {
            // width: 80%;
            margin: .5rem 0rem;
            z-index: 3;
            display: inline-block;
            border: 0px;

            &-main {
                z-index: 5;
                // position: absolute;
                // right: 0rem;
                // top: 5rem;
            }

            &-secondary {
                z-index: 1;
                display: none;
            }
        }
    }
 
}