

.project-container {
    display: flex;
    // flex: 1 1 auto;
    margin: 10rem 0;
    
    // height: 100vh;
    position: relative;
    // background-color: rgba(0, 0, 0, 0.057);
    padding: 5rem;

    background-color: rgba(56, 108, 218, 0.445); 
    box-shadow: 1px 1px 10px rgb(44, 70, 124);
    // box-shadow: 1px 1px 5px rgba(35, 43, 79, 0.214);
    // .project-asterisk {
    //     font-size: 15rem;
    //     opacity: .2;
    //     background-color: rgba(0, 0, 0, 0.057);
    //     text-align: center;
    //     line-height: 14rem;
    //     height: 14rem;
    //     width: 14rem;
    //     border-radius: 100rem;
    //     z-index: 5;
    //     position: absolute;
    //     right: -3rem;
    //     top: 10rem;
    // }
}

// @media (min-width: 501px) {
//     .project-container {
//         height: 100vh;
//     }
// }



.project-image {
    width: 100%;
    border: 10px solid rgba(255, 255, 255, 0.167);
    margin: 1rem 0rem;
    z-index: 3;
    position:relative; 
    filter: opacity(.9) grayscale(70%);
    // filter: invert(0.2) grayscale(80%) hue-rotate(330deg) brightness(1.2);
    // -webkit-filter: invert(0.2) hue-rotate(330deg) brightness(1.2) grayscale(80%);
    // display: inline-block
    transition: 1s all ease;

    &:hover {
        filter: none; 
    }
}

.project-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}

.bg-project, .dragon-project, .prod-project {
    color: rgb(215, 245, 250);
    h2, h3 {
        color: #fec9ae;
    }

    button {
        border: 2px solid rgb(60, 206, 255); 
        a {
            text-decoration: none;
            color: rgb(229, 245, 250);
            font-weight: 700;
        }  
        &:hover {
            background: rgb(60, 206, 255); 
        }
    }

    .divider {
        color: rgb(60, 206, 255);  
    }

    .project-role b, .project-context b{
        font-family: $font-secondary;
        // font-weight: 400;
    }

}

.dragon-project {
    .project-section-left{
        order: 2;
    } 

    .project-section-right {
        order: 1;
        padding-right: 7rem;
        padding-left: 0rem;
    }

    // .project-image {
    //     &-main {
    //         background: #fc6b63;
    //         background: linear-gradient(to right, #fc6b63d0, #ffa382),
    //         url(./ProjectImages/Dragon.png);
    //         height: 100%;
    //         background-blend-mode: multiply;
    //         background-size: cover;
    //     }

    //     &-secondary {
    //         background: #fc6b63,
    //         url(/ProjectImages/dragon.png);
    //     }
    // }

}

h2, h3 {
    padding: 0;
    margin: 0;
}

h2 {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 4.5rem;
}

.project-section-left, .project-section-right {
    display: inline-block;
    // width: 50%;   
     
}

.project-section-left {
    position: relative;
    width: 40%;
}


.project-section-right {
    padding: 0rem 0rem 0rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.project-demo-btn {
    padding: 1rem;
    background: none;
    text-transform: uppercase;
    width: 16rem;
    font-size: 1.5rem;
    font-family: $font-primary;
    margin-right: 1rem;
    transition: .35s all ease;
}


.tech-skill {
    font-weight: bold;
}

.divider {
    padding: 0rem 1rem;
    display: inline-block;
}

.project-link-btns {
    margin-top: 2rem;
    
}

@media (max-width: 500px) {
    h2 {
        font-size: 3rem;
    }
    
    .project-container {
      display: block;  
      font-size: 80%;  
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0);

      .project-section-right {
        padding-left: 0rem;
        display: block;
        width: 100%;
        
        // flex-direction: column;
        // justify-content: center;
        }

        .project-section-left {
        display: block;
        width: 100%;
        order: 2;
        }

        .project-images {
            display: block;
            flex-direction: row;
            justify-content: center;
            height: 50%;
            position: relative;
            margin-bottom: 2rem;
            

        }

        .project-demo-btn {
            width: 45%;
            font-size: 1.5rem;
            margin-right: 1rem;
        }

        .project-image {
            // width: 80%;
            margin: .5rem 0rem;
            z-index: 3;
            display: inline-block;
            border: 0px;

            &-main {
                z-index: 5;
                // position: absolute;
                // right: 0rem;
                // top: 5rem;
            }

            &-secondary {
                z-index: 1;
                display: none;
            }
        }
    }
 
}