$font-primary: 'Thasadith', sans-serif;
// $font-primary: 'Assistant', sans-serif;

// $font-primary: 'Open Sans Condensed', sans-serif;
$font-secondary: 'Playfair Display', serif;
// $font-secondary: 'Oswald', sans-serif;
// $font-primary: 'Yanone Kaffeesatz', sans-serif;

// color palette

$light-pink: #ffdad8;
$light-orange: #ffc581;
$med-green: #c1d045;
$med-green2: #b8c5413b;
$light-green: #dff048;
$lightest-green: #f7fade;
$light-blue: #91e4fb;
$light-magenta: #ca87af;
$lightest-magenta: #fdc5e7;


$outside-margin: 2rem;
$inside-margin: 10rem;


