$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Oswald', sans-serif;

// color palette

$light-pink: #ffdad8;
$light-orange: #ffc581;
$med-green: #c1d045;
$med-green2: #b8c5413b;
$light-green: #dff048;
$lightest-green: #f7fade;
$light-blue: #91e4fb;
$light-magenta: #ca87af;
$lightest-magenta: #fdc5e7;

$med-pink: #fc6b63;
$med-pink-alt: #fdada9;
$med-orange: #fcb997;


$outside-margin: 2rem;
$inside-margin: 5rem;


