$font-primary: 'Thasadith', sans-serif;
$font-secondary: 'Playfair Display', serif;


// color palette

$light-pink: #ffdad8;
$light-orange: #ffc581;
$med-green: #c1d045;
$light-green: #dee49a;
$lightest-green: #f7fade;
$light-blue: #91e4fb;


$outside-margin: 2rem;
$inside-margin: 10rem;


